@import url('animate.min.css');
@import url('primer.min.css');

[theme-prefers-color='dark']{
    --body-background-color: #2a2a2a;
    --surface-color: #050505;
    --surface-color-rgb: 5,5,5;
    --mask-background-color: 255,255,255;

    --scrollbar-thumb-color: rgba(255,255,255,.4);

    --text-color: #f1f1f1;
    --light-text-color: #F97316;
    --secondary-text-color: #1F2937;

    --border-color: #666;
    --border-color-rgb: 102,102,102;
    --light-border-color: #444;
}

[theme-prefers-color='light']{
    --body-background-color: #f5f5f5;
    --surface-color: #fff;
    --surface-color-rgb: 255,255,255;
    --mask-background-color: 0,0,0;

    --scrollbar-thumb-color: rgba(0,0,0,.3);

    --text-color: #374151;
    --light-text-color: #F97316;

    --secondary-text-color: #E5E7EB;



    --border-color: #d2d2d2;
    --border-color-rgb: 210,210,210;
    --light-border-color: #e6e6e6;

    --primary: #1E3A8A; /* 深蓝色 */
    --secondary: #E5E7EB; /* 浅灰色 */
    --content: #FFFFFF; /* 白色 */
    --accent: #F97316; /* 亮橙色 */
    --neutral: #374151; /* 深灰色 */
    --success: #10B981; /* 绿色 */
    --error: #EF4444; /* 红色 */
    --primary-hover: #3B82F6; /* 稍亮的深蓝色，用于次级按钮悬停 */
}

:root {
    --primary-color: #1E3A8A;
    --primary-color-rgb: 30,58,100;
    --primary-text-color: #fff;
    --primary-text-color-rgb: 255,255,255;

    --sidebar-icon-color: var(--text-color);

    --editor-font-size: 14px;


    --header-height: 50px;
    --sidebar-width: 400px;
    --main-height: calc(100vh - var(--header-height));

    --border-radius: 3px;
    --border-radius-big: 6px;
    --scrollbar-size: 4px;

    --avatar-large-size: 54px;
    --avatar-medium-size: 45px;
    --avatar-size: 40px;

    --line-height-large: 26px;
    --line-height-medium: 21px;
    --line-height-small: 18px;
    --line-height-x-small: 16px;
    --line-height: 1.3125;

    --font-size-x-large: 24px;
    --font-size-large: 20px;
    --font-size-medium: 16px;
    --font-size-small: 14px;
    --font-size-x-small: 12px;
    --font-size: var(--font-size-small);
}


html,body{padding:0;margin:0;overflow-x:hidden;position:relative;min-width:100vw}
body{-webkit-text-size-adjust:100%;font-size:var(--font-size);line-height:var(--line-height);overflow:hidden}
body{transition:all linear .2s;background-color:var(--body-background-color);background-position:top;background-repeat:repeat-x;background-size:auto;min-height:100vh}
body,input,textarea,button,a,div,span,*{font-family:'PingFang SC',Arial,sans-serif;}
body,input,textarea,button{color:var(--text-color);font-size:var(--font-size)}
*,::before,::after{box-sizing:border-box}
a{color:var(--text-color);text-decoration:none;cursor:pointer;transition:all linear .2s}
a:hover{color:var(--light-text-color)}
a:active,a:focus,a:hover{text-decoration:none}
h1,h2,h3,h4,h5,h6{color:var(--text-color);cursor:default;font-weight:500}
a,button,h1,h2,h3,h4,h5,input,p,select,textarea{outline:0;margin:0;padding:0}
dd,dl,ol,ul{outline:0;margin:0;padding:0}
i,em{font-style:normal}
label{font-weight:500;position:relative;vertical-align:middle;display:inline-block;margin-right:5px;white-space:nowrap}
img{max-width:100%;height:auto;border:0;border-radius:2px;vertical-align:middle;-ms-interpolation-mode:bicubic;object-fit:cover}
td,th{vertical-align:middle}
td,th,span,p,i,label,div,i,em,img,span,label{cursor:inherit}
pre{white-space:pre-line!important}
textarea{word-break:break-all;height:auto;resize:none}
.tooltipped:after{font-size:12px !important;padding:5px 10px}

button,input,textarea,select{
    vertical-align:middle;
}
input[type="text"],input[type="password"],input[type="datetime-local"],input[type="datetime"],input[type="number"],textarea,select{
    transition:all .2s;
    border-radius:var(--border-radius);
    border:1px solid var(--border-color);
    padding:5px;
    border-radius: var(--border-radius);
}
.btn,button,input[type='button'],input[type='reset'],input[type='submit']{
    position:relative;
    line-height:1;
    transition:all .2s;
    border-radius:var(--border-radius);
    background-color: var(--secondary-text-color);
    color: var(--text-color);
    padding:14px 20px;
    cursor:pointer;
    white-space:nowrap;
    display:flex;
    align-items:center;
    justify-content:center;
    gap: 8px;
    border: none;
}
input[type='submit'],button[type='submit']{
    color: var(--primary-text-color);
    background-color: var(--primary-color);
}
button *,.btn *{cursor:pointer}
input[type='submit']:hover,button[type='submit']:hover,button:hover,.btn:hover,.active{background-color:var(--light-text-color)}
input[type='button']:hover,button[type='reset']:hover,button:hover{color:var(--primary-text-color)}

input,textarea{background-color:transparent;font-size:inherit}
input:hover,textarea:hover,select:hover{
    box-shadow:rgba(var(--mask-background-color),0.2) 0 0 8px 0px
}

/*input::placeholder{color:var(--secondary-text-color);text-transform: none;}*/

[role='width-auto']{width:auto!important}
[role='width-50%']{width:50%!important}
[role='width-40%']{width:40%!important}
input[type='radio'],input[type='checkbox']{
    width: 18px !important;
    height: 18px;
}
input[type='color']{
    padding: 0 2px !important;
    width: 36px !important;
    height: 34px;
}


button[disabled],input[disabled],.disabled{
    cursor:not-allowed !important;
    pointer-events:none;
    filter: grayscale(100);
    opacity: .6;
}



.hidden,[hidden],[aria-hidden='true'],template{display:none!important}
.readonly,[readonly]{cursor:not-allowed}
.ellipsis{overflow:hidden;text-overflow:ellipsis;content:"...";white-space:nowrap}
.dialog-layout *,.disabled,.not-select,[readonly],button,input[disabled],input[type=button],input[type=submit],.sub-menu{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}
.font10{font-size:12px;transform:scale(.833);*font-size:10px}


.avg,.half{flex:1}
.flex,.flex-col,.flex-col-center,.flex-col-end,.flex-row,.flex-row-between,.flex-row-center,.flex-row-end{display:flex}
.flex-row,.flex-row-between{align-items:center;align-content:center}
.flex-row,.flex-row-between,.flex-row-center,.flex-row-end{flex-direction:row}
.flex-row-end{align-items:flex-end;align-content:flex-end;justify-content:flex-end}
.flex-row-between{justify-content:space-between}
.flex-col-center,.flex-row-center{display:flex;text-align:center;justify-content:center;align-items:center}
.flex-col,.flex-col-center,.flex-col-end{flex-direction:column}
.flex-col-end{align-items:flex-end;align-content:flex-end;justify-content:center}
.blank{flex:auto}


#root{overflow:hidden;display:flex;position:relative;flex-direction:row;min-width:100vw}
[aria-scroll]{overflow:hidden !important;pointer-events:none}
.scrollbar{position:relative}
.scrollbar.y{overflow-y:scroll;overflow-x:hidden}
.scrollbar::-webkit-scrollbar{width:var(--scrollbar-size);height:var(--scrollbar-size)}
.scrollbar::-webkit-scrollbar-track{background-color:transparent}
.scrollbar::-webkit-scrollbar-thumb{border-radius:calc(var(--scrollbar-size) / 2);background-color:var(--scrollbar-thumb-color)}


.input-file{
    display: flex;
    align-items: center;
    gap: 8px;
}
.input-file>span{
    position: relative;
    white-space: nowrap;
    border: 1px solid var(--border-color);
    background-color: var(--secondary-text-color);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 7px 10px;
    flex: none !important;

}
.input-file>input[type='text']{
    flex: auto;
}
.input-file>span>input[type='file']{
    position: absolute;
    left: -2px;
    top: -2px;
    right: -2px;
    bottom: -2px;
    opacity: 0.01;
}

.input-number{
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    overflow: hidden;
}
.input-number>input{
    border-radius: 0 !important;
    text-align: center;
}
.input-number>span{
    background-color: var(--secondary-text-color);
    flex: none !important;
    padding: 0px 7px;
    cursor: pointer;
    width: 34px;
    height: 34px;
    display: flex;
}

.input-button:hover{box-shadow: rgba(var(--mask-background-color), 0.2) 0 0 8px 0px}
.input-button{
    display: flex;
    align-items: center;
    flex: auto;
    border:1px solid var(--border-color);
    border-radius: var(--border-radius);
    overflow: hidden;
}
.input-button input{
    flex: auto;
    border: none;
    border-radius: 0;
    padding: 5px 8px;
    box-shadow: none;
}
.input-button button{
    transition: none;
    border-radius: 0;
    padding: 6px 10px;
}
.input-button span{
    padding: 4px;
    height: 30px;
    min-width: 40px;
    text-align: center;
    cursor: pointer;
    border-left: 1px solid var(--border-color);
    background-color: var(--secondary-text-color);
}
.input-button svg{
    transition: none;
    width: 24px;
    height: 24px;
}


.icon{transition:all .2s;flex:none;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;width:100%;height:100%;display:inline-block;vertical-align:middle;line-height:16px;--color:inherit;fill:currentColor;color:var(--color);font-size:inherit}
.icon.arrow-right{transform:rotate(-90deg)}
@keyframes loading-spin{to {transform:rotate(1turn)}}
@keyframes loading-circle{from{transform:rotate(0deg)}to{transform:rotate(360deg)}}
@keyframes loading-lamp{from {color:red}to{color:transparent} }
button[disabled]>[role='icon-loading'],button[disabled]>[role='icon-refresh']{animation:1.5s linear 0s infinite normal none running loading-circle}
button[disabled]>[role='icon-loading']{width:20px;height:20px;margin-right:0}
button>[role='icon-loading']{width:0px;height:20px;margin-right:-8px;}



.server-list{margin-right: -1px}
.server-list .server{position:relative}
.server-list .server>.node{position:-webkit-sticky;position:sticky;top:0px;background-color:var(--surface-color);border-radius:0}
.server-list .server>.node{border-bottom:1px solid var(--light-border-color);z-index:100}
.server-list .server>.node>div{min-height:40px}
.server-list svg{width:20px;height:20px;padding:1px}
.server-list [role='icon-loading-fill']{animation:1s linear 0s infinite normal none running loading-lamp;width:12px;height:8px!important;}
.server-list .arrow{width:12px;height:12px;color:var(--text-color);opacity:0.5}
.server-list .arrow.down{transform:rotate(90deg) translate(0px, 2px)}
.server-list .arrow.visibility{visibility:hidden}
.server-list .tree{
    padding-left: 14px;
}
.server-list .node{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.server-list .node>div,.server-list .info>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: auto;
    cursor: pointer;
    min-height:28px;
}
.server-list .node span{
    margin-left: 6px;
    flex: auto;
}
.server-list .info{
    display: flex;
    align-items: center;
}
.server-list .info>div{gap:6px;}
.server-list .info, .server-list .node{
    padding-left: 8px;
    margin-left: -8px;
    border-radius: var(--border-radius);
    gap: 6px;
}
.server-list .info:hover, .server-list .node:hover{
    background-color: var(--body-background-color);
}
.server-list .info span{
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    content:"...";
    flex: auto;
}
.server-list .info p{
    min-width: 65px;
}
.server-list .info label{
    font-weight: 400;
    color: var(--surface-color);
    text-transform: uppercase;
    font-size: 12px;
    padding: 2px 8px;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
}
.server-list .active{
    background-color: rgba(var(--primary-color-rgb),.14) !important;
}

[role='string'] label{background-color: #87c087}
[role='hash'] label{background-color: #a4bff3}
[role='list'] label{background-color: #dbd490}
[role='set'] label{background-color: #d4a4c8}
[role='zset'] label{background-color: #e9a4f3}


.main{flex:auto;margin-top:0;background-color:var(--body-background-color);width:0}
.main .main-wrap{min-height:var(--main-height)}


@keyframes ball-beat {
    50% {opacity:0.2;-webkit-transform:scale(0.75);transform:scale(0.75)}
    100% {opacity:1;-webkit-transform:scale(1);transform:scale(1)}
}
.page-loader{transition:all .15s;display:flex;align-items:center;justify-content:center;min-height:var(--main-height)}
.page-loader .ball-beat{white-space:nowrap}
.page-loader .ball-beat>div{background-color:rgba(255,255,255,0.5);width:30px;height:30px;border-radius:100%;margin:10px 20px;animation-fill-mode:both;display:inline-block;animation:ball-beat .7s 0s infinite linear}
.page-loader .ball-beat>div:nth-child(2n-1){animation-delay:-0.35s !important}
.page-loader.none{display:none}
.page-loader.hide{top:50%!important;left:50%!important;right:50%!important;bottom:50%!important;overflow:hidden;padding:0!important}
.page-loader.small{left:calc(50% - 130px);top:calc(50% - 43px);bottom:auto;right:auto;border-radius:5px;padding:15px 20px}

.dialog-layout{pointer-events:auto;position:fixed;width:100%;top:0;left:0;bottom:0;right:0;z-index:9000;display:flex;justify-content:center;align-items:center;backdrop-filter:blur(10px)}
.dialog-layout{background-color:rgba(var(--mask-background-color),.2)}
.dialog-wrap{min-width:400px;margin:auto;border-radius:var(--border-radius-big);overflow:hidden;width:fit-content;max-width:1200px;user-select:text;position:relative;}
.dialog-wrap{background-color:var(--surface-color);box-shadow:0 0 15px rgba(var(--mask-background-color),.2)}
.dialog-wrap .head{height:48px;padding:0 15px;background-color:var(--primary-color)}
.dialog-wrap h3{flex:auto;color:#fff;text-align:left;font-size:18px}
.dialog-wrap .close{width:36px;height:36px;display:flex;align-items:center;justify-content:center;opacity:1;color:var(--primary-text-color);padding:5px}
.dialog-wrap .close:hover{color:var(--light-text-color)}
.dialog-wrap .close.tr{position:absolute;z-index:100;right:-16px;top:-16px}
.dialog-wrap .content{padding: 0 50px 50px}

.toast-layout{position:fixed;top:var(--header-height);left:0;right:0;z-index:9001;background-color:var(--primary-color);backdrop-filter:blur(8px);padding:17px 60px}
.toast-layout{display:flex;gap:20px;justify-content:center;align-items:center}
.toast-layout{-webkit-animation-duration:0.3s;animation-duration:0.3s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.toast-layout{border-radius:8px;box-shadow: 0 0 10px rgba(var(--mask-background-color), .3);width:fit-content;margin:0 auto}
.toast-layout.hide{top:-999px}
.toast-layout.center{top:30%}
.toast-layout .icon{width:48px;height:48px;opacity:0.9;color:var(--primary-text-color)}
.toast-layout .icon.loading svg{animation:loading-spin 2s linear infinite}
.toast-layout a{color:var(--light-text-color)}
.toast-layout .text{flex:auto;word-break:break-all;white-space:nowrap;font-size:16px;line-height:22px;color:var(--primary-text-color);display:block;text-align:center;}


